body{
    margin:0px;
    padding:0 30px;
}
.top{
    position:relative;
    height:150px;
    width:100%;
}
.page-name{
    position:absolute;
    width:150px;
    height:40px;
    right:50px;
    display:flex;
    background-color:gray;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.LOGO{
    position:absolute;
    top:30px;
    left:30px;
    font-size:40px;
    font-weight:600;
    
}
.tab:not(:last-of-type){
    margin-right:10px;
}
.tabs{
    display:flex;
    flex-direction:row;
    
    overflow-x:auto;
    overflow-y:hidden;
}
.center{
    display:flex;
    width:300px;
    right:300px;
    background-color:red;
}